.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 'header toggle' 'left right'
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    grid-area: header;
}

#bg {
    grid-area: left;
    background: url('/images/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -1.0rem;
}

main {
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -1.2rem;
}

main .container {
    width: min(36.3rem, 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--titulos);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    outline: none;
}

input,
button,
.button {
    width: 100%;
    margin-bottom: 1.8rem;
}


/* Separator Line */

.separator {
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.separator div:nth-child(2) {
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}


/*** create balls ***/

.ball {
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);
    clip-path: circle();
    opacity: 0.3;
    position: fixed;
}

.ball.top {
    top: -46rem;
    width: 46.3rem;
    right: -35rem;
    height: 63.3rem;
}

.ball.bottom {
    bottom: -15rem;
    right: 5.6rem
}


/*** TOGGLE DARKMODE ***/

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    grid-area: toggle;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background-color: var(--blue);
}

input:checked+label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}